.admin-view-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial;
  background-color: #E1EACD;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.admin-view-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2vh;
  margin-top: 5vh;
  color: #333;
}

.form-message {
  color: #d9534f;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.no-forms-message {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

.forms-table {
  width: 75%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #F9F6E6;
  border-radius: 4px;
  border: 3px solid #8D77AB;
}

.forms-table th,
.forms-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.forms-table th {
  background-color: #8D77AB;
  color: white;
}

.forms-table tr:hover {
  background-color: #f6f2da;
}


button {
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.approve-btn {
  background-color: #59886B;
  color: white;
}

.approve-btn:hover {
  background-color: #507a60;
}

.delegate-btn {
  background-color: #89375F;
  color: white;
}

.delegate-btn:hover {
  background-color: #7b3255;
}

.reject-btn {
  background-color: #B80000;
  color: white;
}

.reject-btn:hover {
  background-color: #9c0000;
}

.view-details-link {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 10px;
}

.view-details-link:hover {
  text-decoration: underline;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-content select{
  margin-top: 5px;
  padding: 10px 10px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid gray;
  cursor: pointer;
}

.modal-content textarea {
  width: 100%;
  height: 80px;
  margin-top: 1rem;
  padding: 0.5rem;
  resize: none;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
