{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <script>
    function loginUser(event) {
      event.preventDefault();

      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;

      fetch("/api/user_login/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify({ email, password })
      })
      .then(response => {
        if (!response.ok) {
          return response.json().then(err => { throw err; });
        }
        return response.json();
      })
      .then(data => {
        console.log("Login response:", data);
        if (data.access_token && data.user) {
            localStorage.setItem("access_token", data.access_token);
          
            localStorage.setItem("user_data", JSON.stringify(data.user));
            console.log("user_data saved to localStorage:", data.user);
            // Role-based redirection: if the role is admin, redirect to admin dashboard; else, regular dashboard.
            //console.log(data.user.role);
            if (Number(data.user.role) === 1) {
               window.location.href = "/admin/";
            } else {
                window.location.href = "/dashboard/";
        }
        }
      })
      .catch(error => {
        const errorMsg = error.detail || error.message || "Login failed";
        document.getElementById("message").innerHTML = `<p style="color:red;">${errorMsg}</p>`;
      });
    }
  </script>
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form onsubmit="loginUser(event)">

            <label for="email"><b>Email</b></label><br>
            <input type="text" placeholder="Enter Email" id="email" name="email" pattern="^[^@]+@[^@]+\.[^@]{3}$" required><br>
            
            <label for="password"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" id="password" name="password" required><br>

            <button type="submit" id="log">Login</button><br>

        </form>
            <div id="message"></div>

            <div class="links">
                <a href="{% url 'password_reset' %}">Forgot Username / Password?</a>
                <a href="{% url 'register_page' %}">Create your Account</a>
                <a href="{% url 'microsoft-login' %}">Login with Microsoft</a>
            </div>
    </div>
</body>
</html>
