{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{%  static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form action="{% url 'dashboard' %}" method="post" target="_self">

            <label for="mail"><b>Email</b></label><br>
            <input type="text" placeholder="Enter Email" name="mail" pattern="^[^@]+@[^@]+\.[^@]{3}$" required><br>
            
            <label for="psw"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="psw" required><br>
            
            <label>
                <input type="checkbox" name="remember" checked> Remember me <br>
            </label>

            <button type="submit" id="log">Login</button><br>

        </form>
            <div class="links">
                <a href="#">Forgot Username / Password?</a>
                <a href="{% url 'register' %}">Create your Account</a>
                <a href="{% url 'microsoft-login' %}">Login with Microsoft</a>
            </div>
    </div>
</body>
</html>
